[csf-droppable-container-item] {
    position: absolute !important;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    visibility: hidden !important;
}

[csf-droppable-container-item].csf-drag-hover {
    visibility: inherit !important;
    position: inherit !important;
    opacity: 0.8 !important;
    background-color: #CAE8BD !important;
}

/* For Tab Container */
csf-container-tab [csf-droppable-container-item] {
    top: 0;
    height: 100%;
}
csf-container-tab [csf-droppable-container-item].csf-drag-hover {
    position: absolute !important;
    z-index: 100 !important;
}