<h4 class="ui horizontal header divider">
    <i class="mail icon"></i>
    Email
</h4>
<form class="ui form">
    <span class="inline field">
        <label>smtp://</label>
        <input placeholder="Username" ng-model="admin.configuration.mail.username" type="text">
    </span>
    <span class="inline field">
        <label>:</label>
        <input placeholder="Password (******)" ng-model="admin.configuration.mail.password" type="password">
    </span>
    <span class="inline field">
        <label>@</label>
        <input placeholder="Host" ng-model="admin.configuration.mail.host" type="text">
    </span>
    <span class="inline field">
        <label>:</label>
        <input placeholder="Port" ng-model="admin.configuration.mail.port" type="text">
    </span>

    <button class="ui labeled icon right floated primary submit button" ng-click="admin.setMailUrl()">
        <i class="save icon"></i>
        Set MAIL_URL
    </button>
</form>