<div class="csf-container">
    <div class="ui stackable grid" csf-random-color-border>
        <div>
            <div class="column" ng-repeat="column in component.meta.columnsSize track by $index" ng-init="columnIndex = $index">
                <div class="ui vertical segment" csf-droppable-container-item="insert(csfComponent, columnIndex, 0)">
                    Drop here...
                </div>

                <div ng-repeat="item in component.content | limitTo: limit(columnIndex) | limitTo: -offset(columnIndex)">
                    <csf-abstract-container-item
                            component="item"
                            can-i="canI"
                            on-removed="remove(columnIndex, $index)"
                            class="ui vertical segment">
                    </csf-abstract-container-item>

                    <div class="ui vertical segment" csf-droppable-container-item="insert(csfComponent, columnIndex, $index + 1)">
                        Drop here...
                    </div>
                </div>

                <div class="ui vertical segment" ng-show="canI.edit">
                    <div class="ui left labeled icon button" ng-show="$index > 0 || !$last" ng-click="removeColumn($index)" title="Delete column">
                        <i class="red outline trash icon"></i>
                        Delete Column
                    </div>
                    <div class="right floated ui small icon button" ng-show="$last && $index<3" ng-click="addColumn()" title="Add column">
                        <i class="green plus icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
