<div class="csf-container">
    <div class="ui stackable grid">
        <div ng-class="columnCount">
            <div class="column" ng-repeat="column in component.meta.columns track by $index" ng-init="columnIndex = $index">
                <div class="ui vertical segment" csf-droppable-container-item="insert(component, columnIndex + 1, 0)">
                    Drop here...
                </div>

                <div ng-repeat="item in component.content | limitTo: limit(columnIndex) | limitTo: -offset(columnIndex)">
                    <csf-abstract-container-item
                            component="item"
                            can-i="canI"
                            on-removed="remove(columnIndex + 1, $index)"
                            class="ui vertical segment">
                    </csf-abstract-container-item>

                    <div class="ui vertical segment" csf-droppable-container-item="insert(component, columnIndex + 1, $index + 1)">
                        Drop here...
                    </div>
                </div>

                <div class="ui vertical segment" ng-show="canI.edit">
                    <csf-button-component-picker on-added="add(chosenComponent, $index+1)"></csf-button-component-picker>
                </div>
            </div>
        </div>
    </div>
</div>
