<div class="ui large modal">
    <i class="close icon"></i>
    <div class="header">
        User Settings
    </div>
    <div class="content">
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="profile" csf-semantic-tab>
                <i class="user icon"></i>
                Profile
            </a>
            <a class="item" data-tab="editor" csf-semantic-tab>
                <i class="edit icon"></i>
                Editor
            </a>
        </div>

        <!-- Profile -->
        <div class="ui bottom attached active tab segment" data-tab="profile">
            <form class="ui form">
                <div class="field">
                    <label>First Name:</label>
                    <div class="ui input">
                        <input placeholder="First Name" ng-model="profile.firstName" type="text">
                    </div>
                </div>

                <div class="field">
                    <label>Last Name:</label>
                    <div class="ui input">
                        <input placeholder="Last Name" ng-model="profile.lastName" type="text">
                    </div>
                </div>
            </form>
        </div>

        <!-- Editor -->
        <div class="ui bottom attached tab segment" data-tab="editor">
            <form class="ui form">
                <div class="field">
                    <label>Ace Theme:</label>
                    <div class="ui fluid search selection dropdown" csf-bind-dropdown="profile.userSettings.editor.theme">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Ace Theme</div>
                        <div class="menu">
                            <div ng-repeat="(key, value) in themelist" class="item" data-value="{{value.theme}}">
                                {{value.caption}}
                                <span class="right floated description" ng-show="value.isDark">dark</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Font Size:</label>
                    <div class="ui input">
                        <input placeholder="Font Size" ng-model="profile.userSettings.editor.fontSize" type="text">
                    </div>
                </div>

                <div class="field">
                    <csf-static-highlight text-to-highlight="{{sample}}" mode="javascript" editor-settings="profile.userSettings.editor"></csf-static-highlight>
                </div>
            </form>
        </div>

    </div>
    <div class="actions" >
        <div class="ui buttons">
            <div class="ui cancel button">Cancel</div>
            <div class="or"></div>
            <div class="ui positive right labeled icon button">
                Save
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>