<div class="csf-cheat-code-snippet-wrapper">
    <h5 class="ui top attached header">
        <csf-editable-text text="component.meta.header" can-edit="canI.edit"></csf-editable-text>
        <csf-highlight-mode-picker selected-mode="component.meta.lang" can-edit="canI.edit"></csf-highlight-mode-picker>
    </h5>
    <div class="ui bottom attached fitted segment">
        <csf-static-highlight text-to-highlight="{{component.meta.code}}" mode="{{component.meta.lang}}" ng-dblclick="edit()" csf-editable="canI.edit"></csf-static-highlight>
    </div>
</div>