/* Using this trick to fix poor layout of Mode Picker when it needs to be wrapped on the next line */
/* Learned how to do this from Semantic's menu component */
csf-cheat-code-snippet .ui.top.attached.header:after {
    content: '';
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

/* Semantic UI 2.0 introduced padding inside segments that can no longer be removed using the fitted class. So doing this manually. */
csf-cheat-code-snippet .bottom.attached.segment {
	padding: 0;
}