/* This solves the problem of overflowing text from static highlighted code blocks */
.ace_static_highlight {
    overflow: auto;
}
span {
    /* Uncomment to allow word-wrapping */
    /*word-wrap:break-word;*/
}

div.ace_static_highlight .ace_line {
    /* This solves the problem of empty lines having 0 height*/
    min-height: 1.3em;
    /* This solves the problem with long lines getting wrapped */
    white-space: nowrap;
}

/* This overrides the awful selection styles from Semantic */
.ace_static_highlight ::selection {
    background-color: #BDD5FC;
    color: inherit;
}

/* Let the code breathe */
.ace_static_highlight {
	padding: 10px;
}

/* This solves the problem with the minimum height set to the Ace editor when acquired not getting applied */
csf-static-highlight {
    display: block;
}