<div class="ui dimmable stackable padded grid">
    <div class="two column doubling row">
        <div class="six wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular paste icon"></i>
                <div class="content">
                    <csf-editable-text text="component.meta.name" can-edit="canI.edit"></csf-editable-text>
                    <div class="ui sub header">{{component.meta.userId}}</div>
                </div>
            </h2>

            <div class="ui form" ng-show="canI.edit">
                <div class="field">
                    <label>Who can view:</label>
                    <csf-role-picker roles="component.meta.permissions.view" on-removed="onViewPermissionRemoved(role)"></csf-role-picker>
                </div>

                <div class="field">
                    <label>Who can edit:</label>
                    <csf-role-picker roles="component.meta.permissions.edit" on-added="onEditPermissionAdded(role)"></csf-role-picker>
                </div>
            </div>
        </div>

        <div class="ten wide column">
            <div class="ui form">
                <div class="field">
                    <label>Description:</label>
                        <csf-editable-markdown text="component.meta.description" can-edit="canI.edit"></csf-editable-markdown>
                </div>
            </div>
        </div>

    </div>

    <div class="ui inverted page dimmer">
        <div class="content">
            <div class="center">
                <h2 class="ui icon header">
                    <i class="wait icon"></i>
                    <div class="content">
                        Initializing <em>{{component.meta.name}}</em>...
                        <div class="sub header">Please wait</div>
                    </div>
                </h2>
            </div>
        </div>
    </div>

    <!--This will be loaded in a timeout to make it more responsive-->
    <!--<csf-abstract-component component="component.content" can-i="component.meta.canI"></csf-abstract-component>-->
</div>