<div class="ui dimmable stackable padded grid">
    <div class="two column doubling row">
        <div class="six wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular paste icon"></i>
                <div class="content">
                    <csf-editable-text text="component.meta.name" can-edit="canI.edit"></csf-editable-text>
                    <div class="ui sub header">{{authorName}}</div>
                </div>
            </h2>

            <!--List of actions all can see (download, clone, add to favourites, etc)-->
            <div class="ui horizontal list">
                <div class="item">
                    <a class="csf-download-button" download="{{component._id}}.json">
                        <div class="ui left labeled small blue icon button">
                            <i class="download icon"></i>
                            <span class="text">Download</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="ui form" ng-show="canI.edit">
                <div class="field">
                    <label>Who can view:</label>
                    <csf-role-picker roles="component.meta.permissions.view" on-removed="onViewPermissionRemoved(role)"></csf-role-picker>
                </div>

                <div class="field">
                    <label>Who can edit:</label>
                    <csf-role-picker roles="component.meta.permissions.edit" on-added="onEditPermissionAdded(role)"></csf-role-picker>
                </div>
            </div>
        </div>

        <div class="ten wide column">
            <div class="ui form">
                <div class="field">
                    <label>Description:</label>
                    <csf-editable-markdown text="component.meta.description" can-edit="canI.edit"></csf-editable-markdown>
                </div>
            </div>
        </div>

    </div>

    <div class="ui inverted page dimmer">
        <div class="content">
            <div class="center">
                <h2 class="ui icon header">
                    <i class="wait icon"></i>
                    <div class="content">
                        Initializing <em>{{component.meta.name}}</em>...
                        <div class="sub header">Please wait</div>
                    </div>
                </h2>
            </div>
        </div>
    </div>

</div>

<div class="csf-container">
    <div class="ui stackable padded grid" csf-random-color-border>
        <div class="column">
            <div class="ui vertical segment" csf-droppable-container-item="insert(component, 0)">
                Drop here...
            </div>

            <div ng-repeat="item in component.content">
                <csf-abstract-container-item
                        component="item"
                        can-i="canI"
                        on-removed="remove($index)"
                        class="ui vertical segment">
                </csf-abstract-container-item>

                <div class="ui vertical segment" csf-droppable-container-item="insert(component, $index + 1)">
                    Drop here...
                </div>
            </div>

            <div class="ui vertical segment" ng-show="canI.edit">
                <csf-button-component-picker on-added="insert(chosenComponent, component.content.length)"></csf-button-component-picker>
            </div>
        </div>
    </div>
</div>