<div class="ui one column centered grid container">

    <div class="sixtheen wide column">
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="users" csf-semantic-tab>
                <i class="users icon"></i>
                Manage users
            </a>
            <a class="item" data-tab="config" csf-semantic-tab>
                <i class="wrench icon"></i>
                Configuration
            </a>
        </div>

        <!-- users -->
        <div class="ui bottom attached active tab segment" data-tab="users">
            <ng-include src="'client/views/partials/admin/users.ng.html'"></ng-include>
        </div>

        <!-- config -->
        <div class="ui bottom attached tab segment" data-tab="config">
            <ng-include src="'client/views/partials/admin/config.ng.html'"></ng-include>
        </div>
    </div>

    <div class="container">
        <div id="revoke-admin-rights" class="ui small modal">
            <div class="header">Revoke admin rights</div>
            <div class="content">
                <p>Are you sure you want to revoke your admin rights? This action cannot be reverted!</p>
            </div>
            <div class="actions">
                <div class="ui negative button"> No </div>
                <div class="ui positive right labeled icon button">
                    Yes
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>

</div>
