<div class="ui stackable padded grid">

    <div class="row">
        <div class="sixteen wide column">
            <button class="ui labeled icon teal button" ng-click="cheatsheet.createNew()" ng-show="CanI.create.cheatsheet()">
                <i class="plus icon"></i>
                Create New
            </button>
        </div>
    </div>

    <div class="row">
        <div class="sixteen wide column">

            <div class="ui cards">

                <div class="ui link card" ng-repeat="card in cheatsheet.cheatsheets track by $index" ui-sref="view-cheatsheet({id: card._id })">
                    <div class="content">
                        <div class="header">{{card.meta.name}}</div>
                        <div class="meta">
                            <span class="category"></span>
                        </div>
                        <div class="description">
                            <csf-editable-markdown text="card.meta.description"></csf-editable-markdown>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="right floated author">
                            <csf-avatar user-id="{{card.meta.userId}}" class="ui avatar image"></csf-avatar> {{cheatsheet.getUserProfile(card.meta.userId).firstName}} {{cheatsheet.getUserProfile(card.meta.userId).lastName}}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>