<div class="ui padded grid">

    <div class="row">
        <div class="sixteen wide column">
            <div class="ui segment">
                <div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                </div>
                <div id="aceEditor">
                </div>
            </div>
        </div>
    </div>

    <!--<div class="doubling two column row">-->
        <!--<div class="column">-->
            <!--<div class="ui vertical segment">-->
                <!--<csf-code-snippet code="{{cheatsheet.data}}" lang="javascript" header="Sample function"></csf-code-snippet>-->
            <!--</div>-->
            <!--<div class="ui vertical segment">-->
                <!--<csf-code-snippet code="{{cheatsheet.data}}" lang="javascript" header="Sample function"></csf-code-snippet>-->
            <!--</div>-->
            <!--<div class="ui vertical segment">-->
                <!--<csf-code-snippet code="{{cheatsheet.data}}" lang="javascript" header="Sample function"></csf-code-snippet>-->
            <!--</div>-->
            <!--<div class="ui vertical segment">-->
                <!--<csf-code-snippet code="{{cheatsheet.data}}" lang="javascript" header="Sample function"></csf-code-snippet>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="column">-->
            <!--<div class="ui vertical segment">-->
                <!--<csf-code-snippet code="{{cheatsheet.data}}{{cheatsheet.data}}" lang="javascript" header="Sample function"></csf-code-snippet>-->
            <!--</div>-->
            <!--<div class="ui vertical segment">-->
                <!--<csf-code-snippet code="{{cheatsheet.data}}" lang="javascript" header="Sample function"></csf-code-snippet>-->
            <!--</div>-->
            <!--<div class="ui vertical segment">-->
                <!--<csf-code-snippet code="{{cheatsheet.data}}{{cheatsheet.data}}" lang="javascript" header="Sample function"></csf-code-snippet>-->
            <!--</div>-->
            <!--<div class="ui vertical segment">-->
                <!--<csf-code-snippet code="{{cheatsheet.data}}" lang="javascript" header="Sample function"></csf-code-snippet>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <csf-container-newsletter component="cheatsheet.sample.content"></csf-container-newsletter>

</div>