<csf-cheatsheet component="cheatsheet.sample"></csf-cheatsheet>
<div class="ui padded grid">

    <div class="row">
        <div class="sixteen wide column">
            <div class="ui segment">
                <div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                </div>
                <div id="aceEditor">
                </div>
            </div>
        </div>
    </div>

</div>