<div class="ui one column centered page grid">
    <div class="sixtheen wide column">
        <h3 class="ui top attached header">
            Create New Cheatsheet
        </h3>

        <div class="ui piled attached segment">
            <div id="create-cheatsheet-form" class="ui form">
                <csf-form-error error-message="createCheatsheet.errorMsg" state="createCheatsheet.state"></csf-form-error>

                <div class="required field">
                    <label>Name:</label>

                    <div class="ui icon input">
                        <input placeholder="Cheatsheet name" ng-model="createCheatsheet.cheatsheet.meta.name" name="name" type="text"/>
                        <i class="paste icon"></i>
                    </div>
                </div>

                <div class="field">
                    <label>Who else can view:</label>
                    <csf-role-picker roles="createCheatsheet.cheatsheet.meta.permissions.view"></csf-role-picker>
                </div>

                <div class="field">
                    <label>Who else can edit:</label>
                    <csf-role-picker roles="createCheatsheet.cheatsheet.meta.permissions.edit"></csf-role-picker>
                </div>

                <button class="ui labeled icon primary submit button">
                    <i class="paste icon"></i>
                    Create
                </button>
            </div>
        </div>
    </div>
</div>
