<div class="ui one column centered grid container">
    <div class="twelve wide column">
        <div class="ui piled attached segment">
            <div class="ui form" ng-class="{loading: forgottenPassword.loading}" csf-semantic-form="::forgottenPassword.formSettings">
                <div class="required field">
                    <label>Please enter your account email. We will send you a link to reset your password:</label>

                    <div class="ui icon input">
                        <input placeholder="Email" ng-model="forgottenPassword.email" name="email" type="text"/>
                        <i class="mail icon"></i>
                    </div>
                </div>


                <button class="ui labeled icon primary submit button">
                    <i class="send icon"></i>
                    Send email
                </button>
            </div>
        </div>
    </div>
</div>
