<div class="ui one column centered page grid">
    <div class="twelve wide column">
        <h3 class="ui top attached header">
            Cheatsheet Factory
        </h3>

        <div class="ui piled attached segment">
            <div id="register-form" class="ui form">
                <csf-form-error error-message="register.errorMsg" state="register.state"></csf-form-error>

                <div class="required field">
                    <label>Email:</label>

                    <div class="ui icon input">
                        <input placeholder="Email" ng-model="register.user.email" name="email" type="text"/>
                        <i class="mail icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label>Password:</label>

                    <div class="ui icon input">
                        <input placeholder="Password" ng-model="register.user.password" name="password"
                               type="password"/>
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label>Confirm Password:</label>

                    <div class="ui icon input">
                        <input placeholder="Confirm Password" ng-model="register.user.confirmPassword" name="confirm-password"
                               type="password"/>
                        <i class="lock icon"></i>
                    </div>
                </div>

                <div class="required field">
                    <label>First Name:</label>

                    <div class="ui icon input">
                        <input placeholder="First Name" ng-model="register.user.profile.firstName" name="first-name" type="text"/>
                        <i class="user icon"></i>
                    </div>
                </div>

                <div class="required field">
                    <label>Last Name:</label>

                    <div class="ui icon input">
                        <input placeholder="Last Name" ng-model="register.user.profile.lastName" name="last-name" type="text"/>
                        <i class="user icon"></i>
                    </div>
                </div>

                <button class="ui labeled icon primary submit button">
                    <i class="icon add user"></i>
                    Register
                </button>
            </div>
        </div>
    </div>
</div>
