.csf-container .csf-container-controls {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 10;
}

.csf-container .csf-container-item:hover .csf-container-controls {
    display: block;
}
